<%- include("partials/head") %>
<!--path argument in functionObject-->
<!--include the head.ejs partial ejs template-->
<body>
  <!--bootstrap v4.5.3 library - adding a navbar component-->
  <%- include("partials/navbar")%>
  <!--include the navbar.ejs partial ejs template-->

  <h1>Your random no is: <%= randNo %></h1>
  <% if (randNo%2==0){%>
  <h2>That is an even number.</h2>
  <%} else { %>
  <h2>This is an odd number.</h2>
  <% }%>
  <h3>The number is <%=randNo%2===0?"EVEN":"ODD" %></h3>
</body>
<%- include("partials/footer")%>
<!--path argument in functionObject-->
<!--include the footer.ejs partial ejs template-->
