<%- include("partials/head") %>
<!--path argument in functionObject-->
<!--include the head.ejs partial ejs template-->
<body>
  <!--bootstrap v4.5.3 library - adding a navbar component-->
  <%- include("partials/navbar")%>
  <!--include the navbar.ejs partial ejs template-->

  <!--bootstrap container-->
  <div class="container">
    <h1>Browsing the <%= name %> subreddit</h1>
    <h2><%= description %></h2>
    <p><%= subscribers %> Total Subscribers</p>
    <hr />
    <%for(let post of posts){%>
    <article>
      <p><%= post.title %> - <b><%=post.author%></b></p>
      <!--undefined is falsy-->
      <% if (post.img){%>
      <img src="<%= post.img %>" alt="" />
      <%}%>
    </article>
    <%}%>
  </div>
</body>
<%- include("partials/footer")%>
<!--path argument in functionObject-->
<!--include the footer.ejs partial ejs template-->
